body {
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

form.inscricao {
  display: flex;
  flex-direction: column;
  height: 90%;
  min-height: 35rem;
  background-color: white;
  border-radius: 12px;
  margin: 0;
  font-weight: bold;
  padding: 0px 25px;
}

.inscricao input,
.inscricao select,
.inscricao textarea {
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 15px;
}

.inscricao h2 {
  text-align: center;
  color: #004a93;
}

.btn-front {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-style: solid;
  border-width: 1px;
  background-color: #004a93;
  border-color: #ccc;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 12px;
  color: white;
  cursor: pointer;
}

.inscricao a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inscricao textarea {
  height: 80px;
}

.last-page h2{
    color: white;
    text-align: justify;
}

.last-page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.confirmacao {
    padding: 9px 35px;
    background-color: #0ecc00;
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;

    outline: none;
    border-radius: 3px;
    color: white;

    display: flex;
    justify-content: center;
    text-align: center;

    transition: background-color 0.3s ease;
}

.confirmacao:hover{
    transform: scaleZ(1.05);
    background-color: aqua;
    color: black;
    cursor: pointer;
}